/* ===================================
   COLOR TOKENS
   =================================== */

@theme {
  /* ============ BASE COLORS ============ */

  --color-primary: #171717;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #D4D4D4;
  --color-muted: #F5F5F5;
  --color-muted-foreground: #737373;
  --color-border: #E5E5E5;
  --color-background: #FFFFFF;
  --color-foreground: #000000;
  --color-button-foreground: #FFFFFF;
}
